.padreFav{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px !important; 
    padding-bottom: 50px !important;
    h1{
        padding-top: 130px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    h6{
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        margin-right: 1vw;
    }
    h3{
        color: #37A5B7;
        font-size: 1.5rem;
        font-weight: bold;
    }
    p, span{
        color: #37A5B7;
        font-size: 15px;
        margin: 0px;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
    .cardFavFondo{   
        margin: 30px 10px;
        padding: 0px; 
        width: 330px;
        .tarjeta-fav{
            border: none;
        } 
    .carBodyFav{
        padding:10px 10px 0px 10px;
        background-color: rgb(17, 24, 39);
    }
    .displayFav{
        display: flex;
        justify-content: space-between;
        background-color: none;
    }
    
    }
    button{
        background-color: rgba(39, 40, 57, 0.788);
        border:1px solid rgb(65, 193, 219);
        margin: 5px 2px;
        color: rgb(65, 193, 219);
        width: 80%;
        padding: 10px 0;
        border-radius: 10px;
    }   
    button:hover{
        background-color: rgb(59, 60, 72);
    } 
}

//TABLET
@media (max-width: 769px ){
    .padreFav{
        height: 100%; 
        .cardFavFondo{   
            margin-bottom: 50px;    
        }
    }
}