.padreFav{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    width: 100%;
    height: 130vh; 
    h2{
        padding-top: 150px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    h6{
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        margin-right: 1vw;
    }
    p{
        color: black;
        font-size: 15px;
        font-weight: bold;
        margin: 0px;
    }
    h3{
        color: #37A5B7;
        font-size: 30px;
        font-weight: bold;
    }
    img{
        width: 320px;
    }
    .carBodyFav{
        padding:10px 10px 0px 10px;
        background-color:  white;
        width: 320px;
    }
    .displayFav{
        display: flex;
        justify-content: space-between;
        background-color: none;
    }
    .cardFavFondo{   
        margin-top: 50px;
     padding: 0px;
        display: flex;
        justify-content:space-around;    
    }
    button{
        font-weight: bold;
        font-size: 15px;
        background-color: rgba(244, 248, 0, 0.83);
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;   
    }   
}

//TABLET
@media (max-width: 769px ){
    .padreFav{
        height: 100%; 
        .cardFavFondo{   
            margin-bottom: 50px;    
        }
    }
}

//TABLET
@media (max-width: 391px ){
    .padreFav{
        height: 130vh; 
        .cardFavFondo{   
            padding-right: 30px!important;     
        }
       
    }
}