.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(34deg, rgba(0,20,70,1) 0%, rgba(14,95,125,1) 49%, rgba(36,204,195,1) 100%);
    color: white;
    font-family: 'Barlow';
    .login-form-container{
        margin-top: 200px ;
        text-align: center;
        width: 300px;
        h1{
            font-weight:700;
            letter-spacing: 2px;
        }
        .login-form{
            display: flex;
            flex-direction: column;
            width: 100%;
            .input-login{
                margin: 10px 0;
                padding: 10px;
                background-color: transparent;
                border: 1px solid #00ACB5;
                border-radius: 12px;
                color: white;  
            }
            ::placeholder{
                color: rgba(226, 225, 225, 0.936);
            }
            :focus{
                outline: 1px solid #4cecf5;
                border: 1px solid #4cecf5;
            }
            .icono{
                position: relative;
                left: 250px;
                bottom: 45px;
                cursor: pointer;
                width: 30px;
            }
            .login-boton{
                background-color: #26ADB5;
                padding: 10px;
                color: white;
                border: none;
                border-radius: 12px;
                &:hover{
                    background-color: #26aeb53f;
                    transition: 0.5s;
                }
            }
        }
        p{
            margin-top: 10px;
            span{
                color: #26ADB5;
                cursor: pointer;
            }
        }
       
    } 
}


