.portafolio-container{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .turquesa {
        color: rgb(29, 194, 178);
    }
    .image {
        background-image: url("../../../../public/images/property/imagenfondo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30vw;
        height: 30vh;
        border-radius: 10px;
        .beneficio {
            width: 55%;
            height: 100%;
            background-color: rgba(39, 40, 57, 0.694);
            color: white;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 4%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            .total, .monthly {
                margin: 3% 0;
                display: flex;
                justify-content:space-between;
                width: 40%;
            }                       
        }
    }
    .botones {
        width: 30vw;
        display: flex;
        justify-content: space-around;
        margin: 3%;
        .boton {
            width: 40%;
            background-color: rgb(61,62,77);
            border: none;
        }

    }
    .propiedad {
        width: 20vw;
        margin: 5%;
        background-color: gray;
        .borrar {
            background-color: red;
        }
        .venta {
            background-color: green;
        }
    }
}