
.editImage {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #1f1f1f; */
    border: 1px solid white;
    display: flex;
    justify-content: flex-end;
}

.options {
    position:absolute;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 100%;
    left: 0%;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    margin: 0;
}


.buttonDelete:hover, .buttonMain:hover {
    color: #30a2b9;
    cursor: pointer;
}



