.datos-propiedad-container{
    background-color: #272839;
    color: white;

    min-height: 160vh;

    h1{
        padding-top: 130px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    
    input{
        background-color: rgba(255, 255, 255, 0.05);
        padding: 5px 10px;
        border-radius: 10px;
        margin: 10px 0;
        color: white;
        font-weight: lighter;
        border: 1px solid white;
        margin: 5px 0;
    }
    ::placeholder{
        color: white;
    }
    :focus{
        outline: 1px solid #4cecf5 !important;
        border: 1px solid #4cecf5 !important;
        background-color: #272839!important;
        border: none;
        color: white;
    }   
    

   
    .form-select{
        padding: 5px 10px;
        margin: 5px 0;
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
    .editImage {
        margin: 5px 0;
        width: 150px;
        .container-img{
            position: relative;
            width: 100%;
            height: 100%;
            /* background-color: #1f1f1f; */
            border: 1px solid white;
            border-radius: 6px;
            display: flex;
            justify-content: flex-end;    
            
        } 
    }
    .options {
        position:absolute;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        width: 100%;
        left: 0%;
        padding: 0;
        padding-left: 2%;
        padding-right: 2%;
        color: #272839;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.561);
    }
    
    .buttonDelete:hover, .buttonMain:hover {
        color: #30a2b9;
        cursor: pointer;
    }
    .boton-editar{
        background-color: #26ADB5;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 12px; 
        width: 30%;
        margin-top: 50px;
        margin-bottom: 20px;
        &:hover{
            background-color: #37c6cda7;
            transition: 0.5s;
        }
    
    }
}

@media(max-width: 1130px){
    .datos-propiedad-container{
       background-color: #272839;
        color: white;
        min-height: 180vh; 
    }
        
}

@media(max-width: 767px){
    .datos-propiedad-container{
       background-color: #272839;
        color: white;
        height: 320vh;
    }
        
}

@media(max-width: 500px){
    .datos-propiedad-container{
       background-color: #272839;
        color: white;
        height: 344vh;
    }
        
}

@media(max-width: 350px){
    .datos-propiedad-container{
       background-color: #272839;
        color: white;
        height: 380vh;
    }
        
}