.allProperties {
    background-color: #272839;
    font-family: Barlow;
    color: white;
    min-height: 100vh;
    padding: 3% 5%;
    h1{
        padding-top: 130px;
        font-weight: bold;
        color: rgba(3, 255, 247, 1);
        font-size: 50px;
    }
    .prop {
        background-color: rgb(17, 24, 39);
        border-radius: 15px;
        .imgProp {
            width: 100%;
            height: 180px;
            img {
                width: 100%;
                height: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
                object-position: center;
            }
            .filtro-opaco{
                height: 180px;
                width: 50%;
                background-color: rgba(0, 0, 0, 0.571);
                position: relative;
                bottom: 180px;
                border-top-left-radius: 15px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                button{
                    width: 40%;
                    padding: 2px;
                    display: flex;
                    justify-content: center;
                    border: none;
                }
            }
            h5{
                text-align: left;
                margin-left: 10px;
                position: absolute;
                bottom: 0;
                color: white;
                font-weight: 700;
                font-size: 24px;
                color:white;
            }
        }
    }

    .info-inferior {
        background-color: rgb(17,24,39);
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        padding: 2%;
        .direccion{
            display: flex;
            color: rgb(65, 193, 219);
            margin: 10px 0;
            p, span{
                margin: 0 3px;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            flex-direction: column;
            button{
                background-color: rgba(39, 40, 57, 0.788);
                border:1px solid rgb(65, 193, 219);
                margin: 5px 2px;
                color: rgb(65, 193, 219);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                padding: 10px 0;
                p, span{
                    margin: 0 3px;
                }
            }
            button:hover{
                background-color: rgb(55, 56, 71);
            }
            
        }
    }
}
