
.titulo{
    background-color: #272839;
    color: #4cecf5;
    justify-content: center;
    display: flex;

    .btn-close{
        background-color: white !important;
    }

   h1{
    font-size: 2rem;
   }
}

.main{
    padding: 5%;
    color: white;
    background-color: #272839;

    h3{
        margin-bottom: 20px;
        text-align: left;
    }
}

.fila_info{
    width: 90%;
    margin: 0;
    margin: 15px 0;
}


div {
    .cartita {
        height: 450px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

