.footerContainer{
    width: 100%;
    .infoContainer{
        display: flex;    
        background-color: rgb(47,47,61);    
        padding: 2.1%; 
        padding-left: 10%; 
        .housia{        
            display: flex;
            flex-direction: column;
            
            img{
                width: 120px;
            }
            p{
                color: white;
            }
            .turquoise{
                color: rgb(48,162,185);
            }
        }
        .redes{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                padding: 3%;
                
                img{
                    width: 50px;
                    height: 50px;
                    
                }
                img:hover{
                    background-color: rgb(48,162,185);
                    border: 2px solid rgb(48,162,185);
                    border-radius: 50px;
                }
            }
            
        }
    }      
    
    
}