.NavBarContainer{
    background-color: #272839 !important;
    border-bottom: 1px solid white;
    height: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
    img{
        width: 120px;
    }
    a.nav-link{
        text-decoration: none;
        font-weight: 500;
        color: white;
    }
    a.nav-link.active{
        color: #4cecf5;
    }
    a.dropdown-item{
        color: white;
    }

    a:hover {
        color: rgb(48,162,185);
    }
    button{
        background-color: rgb(48,162,185);
        border: none;
        color: white;
        font-weight: 700;
    }
    .collapse-navbar{
        background-color: #272839;
        padding: 10px;
        justify-content: space-around;
        
    }
    .link-perfil, .link-logout{
        display: none;
    }
  
    .avatar-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .dropdown-perfil{
        display: flex;
        div{
            background-color: #272839 !important;
            margin-top: 12px;
            .dropdown-item:active {
                background-color: #272839 !important;
            }
        }
    }
}
.NavBarContainerLogin{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid white;
    z-index: 100;
    &.scrolled{
        background-color: #272839 !important;
        transition: 1s;
    }
    a{
        margin: 10px 20px;
        text-decoration: none;
        font-weight: 700;
        color: white;
    }
    a:hover {
        color: rgb(48,162,185);
    }
    img{
        width: 120px;
    }
    button{
        background-color: rgb(48,162,185);
        border: none;
        color: white;
        font-weight: 700;
        padding: 10px 15px;
        border-radius: 10px;
        &:hover{
            background-color: rgba(37, 130, 148, 0.952);
            transition: 0.5s;
        }
    }
}

@media (max-width: 991px) {
    .container{
        padding: 0;
    }
    .navbar-toggler{
        margin-right: 10px;
    }
    .navbar-brand{
        padding-left: 10px;
    }
    .dropdown-perfil{
        display: none !important;
    }
    .link-perfil, .link-logout{
       display: block !important;
    }
}
