.checkbox-container{
    margin:2vw 4vw;
}

.label{
    background-color: #272839;
    color: white;
    font-size: 20px;
    width: 240px;
    height: 60px;
    border: 1px solid white;
    transition: 0.4s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"]{
    visibility: hidden;
}

/* efecto parpadeo */
input[type="checkbox"]:checked + .label{
    
    border-top: 31px solid rgba(3, 255, 247, 1);
    border-bottom: 31px solid rgba(3, 255, 247, 1);
    color: #272839;
    box-sizing: border-box;
}

.unchecked {
    background-color: red;
    color: navy;
    font-size: 20px;
    width: 240px;
    height: 60px;
    transition: 0.2s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 3px solid white;
}