.portafolio-container{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    height: 100%;
    text-align: center;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    .title {
        padding-top: 130px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    .infoCarousel{
        display: flex;
        justify-content: center;
        width: 45vw;
        
        
        .infoAllProperty{
            display: flex;
            align-items: center;
            width: 100%;
            
            .carrusel{
                width: 100%;
                height: 380px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px black;
                position: relative;
                z-index: 1;
                display: flex;               
                align-items: center; 
                .carousel{
                    width: 100%;
                    border-radius: 10px;
                    img{
                        width: 100%;
                        height: 380px;
                        border-radius: 10px;
                        object-fit: cover;
                        object-position: center;
                    }
                }          
                               
                
            }
        }
    }

    .information{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-top: 1%;
        .direction{
            display: flex;
            flex-direction: column;
            width: 75%;
            .dir{
                display: flex;
                img{
                    width: 20px;
                    height: 20px;            
                    margin-right: 0.5%;                
                }
            }
            .info{
                display: flex;
                justify-content:space-between;
                margin-top: 5%;
                text-align: left;
                .icono{
                display: flex;
                align-items: center;
                width: 30%;
                img{
                    background-color: rgb(61,62,77);
                    border-radius: 10px;
                    margin-bottom: 8%;                
                }
                p{
                    margin: 0;
                    margin-left: 3%;
                }           
                
                }
            }
        }
        .transparent{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            .perTrans{
                width: 25%;
                background-color: green;
                border-radius: 10px;
                margin-bottom: 10%;
            }            
            
        }
    }

    .divButtons{
        display: flex;
        justify-content: center;
        width: 100%;
        .buttons{
            width: 40%;
            display: flex;
            justify-content:space-around;
            margin: 3% 0%;
            }
            .button {
                width: 60%;
                margin: 3%;
                background-color: rgb(61,62,77);
                border: none;
            }
            .button:hover {
                background-color: rgb(48,162,185);
            }
            .modal{
                background-color: rgb(61,62,77) !important;
                color: white;
            }       
       
    }
    .infoGrafica{
        display: flex;
        .percenteges{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .percent{
                border: 1px solid white;
                border-radius: 10px;
                margin: 5%;
                width: 80%;
                text-align: left;
                padding: 2%;
                p{
                    margin: 0;
                }
                .perGreen{
                    background-color: rgba(0, 192, 118, 0.253);
                    color: rgb(0,192,118);
                    width: 60%;
                    border-radius: 8px;
                    text-align: center;
                }
                .perRed{
                    background-color: rgba(189, 35, 35, 0.274);
                    color: rgb(189, 35, 35);
                    width: 60%;
                    border-radius: 8px;
                    text-align: center;
                }
            }
        }
        .graph{
            position: relative;
            z-index: 1;
            display: flex;
            border: 1px solid gray;    
            border-radius: 15px;  
            .valor{
                width: 20%;
                margin-top: 1%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                position: absolute;
                z-index: 2;
                
            }
            img{
                width:40vw;
            }
        }
    }
    .infos{
        width: 70%;
        margin: 3% 0%;
        display: flex;
        justify-content: flex-end;
        .limits{
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            .limites{
                width: 100%;
                
                .limitsContainer{
                    border: 3px solid turquoise;
                    text-align: left;
                    width: 100%;
                    border-radius: 10px;
                    padding: 5%;
                    margin-top: 6%;
                    
                    .limit{
                        display: flex;
                        padding: 2%;
                        .b{
                            width: 15%;
                            height: 25px;
                            background-color: white;
                            border-radius: 15px;
                            margin: 0 10%;
                        }
                        .c{
                            width: 30%;
                            text-align: center;
                            height: 25px;
                            background-color: white;
                            color: #272839;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
        .inversions{
            .inversion{
                margin-top: 2%;
                display: flex;
                justify-content: space-around;
                border: 3px solid turquoise;
                border-radius: 15px;
                
                .box{
                    width: 30%; 
                    margin-top: 2%;  
                    .gray{
                        color: rgba(255, 255, 255, 0.614);
                    }                
                    .divUno{
                        display: flex;
                        justify-content: space-between;
                        margin: 2%;
                        width: 100%;
                    }
                    .divDos{
                        display: flex;
                        justify-content: space-between;
                        margin: 0 5%;
                        width: 95%;
                    }
                }
            }
        }
    }
    .largeGraph{
        width: 69%;
        margin-bottom: 3%;
        .scenarios{
            display: flex;
            border: 3px solid turquoise;
            border-radius: 15px;
            display: flex;
            justify-content:space-around;
            align-items: center;
            .partOne{
                text-align: left;
                width: 25%;
                margin: 2% 0%;
                .gray{
                    color: rgba(255, 255, 255, 0.614);
                }
                .green{
                    color: rgb(0,192,118);
                }
                .stage{
                    p{
                        color: rgba(255, 255, 255, 0.614);
                    }
                    .stageOne{
                        display: flex;
                        justify-content: space-between;
                        button{
                            background-color: rgb(35,38,47);
                            color: rgba(255, 255, 255, 0.614);
                            width: 25%;
                            height: 35px;
                            margin-bottom: 5%;
                            border: none;
                            border-radius: 10px;
                        }
                        button:hover{
                            background-color: white;
                            color: rgb(35,38,47);
                        }
                    }
                    .stageTwo{
                        display: flex;
                        p{
                            color: white;
                        }                    
                        .b{
                            width: 15%;
                            height: 25px;
                            background-color: white;
                            border-radius: 15px;
                            margin: 0 11%;
                        }
                        .c{
                            width: 15%;
                            height: 25px;
                            background-color: white;
                            border-radius: 15px;
                            margin: 0 9%;
                        }
                    }
                }
            }
            .partThree{
                width: 25%;
                .data{
                    display: flex;                   
                    margin-bottom: 2%;
                    .d{
                        text-align: right;
                        margin-right: 5%;
                        color: rgba(255, 255, 255, 0.614);
                        p{
                            margin: 0;
                        }
                    }
                    .dt{
                        padding-left: 20%;
                        text-align: right;
                        margin-right: 5%;
                        p{
                            margin: 0;
                        }
                    }
                    .number{
                        text-align: left;
                        p{
                        margin: 0;
                    }
                    }
                }
                
            }
        }
    }
    .threeButtons{
        width: 100%;
        display: flex;
        justify-content: center;
        .edit{
            width: 15%;   
            margin: 3% 0%;         
            background-color: rgb(61,62,77);
            border: none;
            }
        .edit:hover {
            background-color: rgb(48,162,185);
        }
        .sold{
            width: 15%;
            margin: 3%;
            border: none;
            background-color: rgb(0,192,118);
        }
        .sold:hover{
            background-color: rgb(21, 151, 101);
        }
        .check{
            width: 15%;   
            margin: 3% 0%; 
        }
        }

        .boost{
            .boostbutton{
                display: flex;
                justify-content: flex-end;
                
                button{
                    width: 30%;
                    margin: 4% 0%;
                    border-radius: 15px;
                    background-color: rgb(61,62,77);
                    font-size: xx-large;
                    color: rgb(48,162,185);
                    border: none;
                    
                }
                button:hover{
                    background-color: rgb(48,162,185);
                    color: white;
                }
            }
            .boostp{
                width: 25%;
                text-align: left;
                margin-left: 2%;
            }
        }
    }

    #buttonDel:hover {
        background-color: rgb(141, 36, 36)
    }

    @media (max-width: 769px ){
        .portafolio-container {
         .infoCarousel{
            width: 80vw;            
         }
         .information{
            width: 90%;
            .dir{
                width: 300px;
            }
            .transparent{
                width: 20vw;
                .perTrans, .turquoise{
                    margin: 0px;
                    left: 500px;
                    
                    margin-right: 50px;
                }
            }
            .direction{
                width: 100%;
             }
         }
         .divButtons{
            .buttons{
                width: 80%;
            }
         }
         
         .infoGrafica{
            margin: 0px!important;
            .percenteges{
               width: 20%;      
                .percent{
                    width: 90%;
                }
            }
            .graph{
                width:50vw;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .valor{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 50%;
                }
                img{
                    width: 48vw;
                    
                }
            }

         }
         .infos{
            margin: 5% 0%;
            width: 90%;
            .inversions{
                margin: 0%;
                margin-top: 5%;
                
                .inversion{
                    width: 100%;
                    padding: 0% 10%;
                    display: flex;
                    flex-direction: column;
                    .box{
                        width: 100%;
                        padding: 3%;
                        
                        .divUno{
                            padding-right: 2%;
                            font-size: x-large;
                        }
                    }
                }
            }
         }
         .largeGraph{
            width: 86%;
            .scenarios{
                display: flex;
                flex-direction: column;
                
                .partOne{
                    width: 90%;
                }
                .partTwo{
                    width: 90%;
                    height: 20vh;
                    margin-bottom: 5%;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                .partThree{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .data{
                        width: 100%;
                        .d{
                            width: 50%;
                            margin-right: 10%;
                        }
                    }
                }
            }
         }
         .threeButtons{
            display: flex;
            flex-direction: column;
            
            align-items: center;
           .edit{
            width: 55%;
           }
           .sold{
            width: 55%;
           }
           .check{
            width: 55%;
           }
         }
         .boost{
            width: 100%;
            margin-top: 5%;
            .boostbutton{
                width: 100%;
                justify-content: center;
                button{
                    width: 50%;
                }
            }
            .boostp{
                width: 100%;
            }
         }
        
        }
        
        
     }
     
     
     @media (max-width: 391px){
        .portafolio-container{
            .infoCarousel{
                width: 80vw;
                height: 30vh;
                .infoAllProperty{
                    width: 80vw;
                    height: 30vh;
                    .carrusel{
                        width: 80vw;
                        height: 30vh;
                        .carousel{
                            width: 80vw;
                            height: 30vh;
                            img{
                                width: 80vw;
                                height: 30vh;
                               
                            }
                        }
                    }
                }
             }          
        }
        .information{
            display: flex;
            flex-direction:column-reverse;
            width: 100%;
            .info{
                img{
                    width: 35px;
                    height: 35px;
                }
                p{
                    font-size:x-small;
                }
            }
            .transparent{
                width: 100% !important;
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between;
                align-items: flex-start !important;
            }
        }
        .divButtons{
            
            .buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100% !important;
                .button{
                    font-size: small;
                    
                }
            }
        }
        .infoGrafica{
            display: flex;
            flex-direction: column;
            width: 100%;
            .percenteges{
                width: 100% !important;
                display: flex;
                flex-direction: row !important;
                .percent{
                    width: 35%;
                    margin: 2% !important;
                    font-size: small;
                    .perGreen, .perRed{
                        width: 65% !important;
                    }
                }
                
            }
            .graph{
                flex-direction: column;
                width: 100% !important;
                height: 25vh;
                .valor{
                    font-size: small;
                    width: 60% !important;
                }
                img{
                    width: 100% !important;
                }
            }
            .infos{
                width: 100%;
                .inversions{
                                     
                    .inversion{
                        width: 100% !important;
                        display: flex;
                        flex-direction: column;
                        .box{
                            width: 100% !important;
                            
                            
                            
                        }
                    }
                }
            }
        }
        .divUno{
            font-size: 16px !important;
            padding: 1%;
        }
           
    }
           
           
           
   
        
     
        
    
   













            
           
    
    
   
    
    
    
    
    

   
   
    


