.portafolio-container{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        padding-top: 130px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    .discover {
        width: 100%;
        display: flex;
        .filters{
            width: 30%;
            text-align: left;
            margin-right: 2%;
            h5{
                margin-top: 7%;
                text-decoration: underline rgb(48,162,185);
                text-underline-offset: 5px;
            }
            .filterImg{
                width: 30px;
                height: 30px;
            }
            .clearButton{
            width: 100%;
            height: 4vh;
            border-radius: 15px;
            background-color: #3e3f5a;
            color: white;
            border: none;
                   
        }
        .clearButton:hover{
            border: 1px solid rgb(48,162,185);
            background-color: rgb(48,162,185);
            color: white;
            font-size: larger;
        }
        .estilosAcordeon{
            .accordion-item{
                background-color: #3e3f5a !important;
                color: white;
                border: 1px solid #272839;
                border-radius: 12px 12px 0 0 ;
                margin: 10px 0;
                   .accordion-header{
                    background-color: #3e3f5a;
                    border-radius: 12px 12px 0 0 ;
                    button{
                        background-color: #3e3f5a !important;
                        color: white;
                        border: 1px solid #272839;
                        border-radius: 12px 12px 0 0 ;
                    }
                    .accordion-button:after {
                        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                    }
                    .accordion-button:focus {
                        box-shadow: none;
                        border-color: #4cecf5;
                    }
                   
                }
            }
        }
        .buttons{
            width: 100%;
            height: 5vh;
            margin: 0;
            margin-top: 3%;
            justify-content: left;
            .metro{
               
                padding: 0;
                button{
                    width: 95%;
                    height: 100%;
                    padding: 5px;
                    margin: auto;
                    border-radius: 15px;
                    background-color: transparent;
                    border: 1px solid gray;
                    color: white;
                }
                button:hover{
                    background-color: #505275;
                    
                }
            }
           

        }
        .featuresButton{
            width: 100%;
            height: 4vh;
            border-radius: 15px;
            margin: 0;
            margin-top: 16px;
            background-color: #3e3f5a;
            color: white;
            border: none;
        }
        .featuresButton:hover{
            border: 1px solid rgb(48,162,185);
            background-color: rgb(48,162,185);
            color: white;
            font-size: larger;
        }
        }
        .selectButton{
            width: 100%;
            height: 4vh;
            border-radius: 15px;
            background-color: #3e3f5a;
            color: white;
            border: none;
            select,
            option:hover {
            background-color: rgb(48,162,185);
            }        
            
        }
        
        .extras{
            .extra{
                width: 100%;
                padding: 0;
            }
            .label{
                width: 100%;
                font-size:small;
                text-align: center;
                padding: 0 1%;
            }
        }
        }
        .properties{
            display: flex;
            width: 70%;
            margin: 0;
            margin-top: 3%;
            height: 100%;
            .tarjeta{
                
                height: 280px;
                background-color: transparent;
                border: none;
                padding: 0;
                .cardProperty{
                    background-color: #272839;
                    width: 90% !important;
                    border-radius: 15px;
                    margin: auto;
                    .styleCard{
                        width: 100%;
                        height: 200px;
                        position: relative;
                        img{
                            width: 100%;
                            height:100%;
                            border-radius: 15px;
                            object-fit: cover;
                            object-position: center;
                           
    
                        }
                        .parteTransparente{
                            width: 50%;
                            height: 100%;
                            background-color: #272839ab;
                            position: absolute;
                            display: flex;
                            .perTrans{
                                width: 50px;
                                height: 30px;
                                background-color: green;
                                border-radius: 10px;
                                margin: 5%;
                                cursor: pointer;

                            }
                            .botonFavoritos{
                                margin: 5%;
                                .estrella{
                                    width: 30px;
                                    height: 30px;
                                    background-color: rgb(48,162,185);
                                    border-radius: 10px;
                                    
                                    border: none;
                                    img{
                                        width: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                        
                                    }
                                }         
                            }
                            
                        }
                           
                    }
                    .datosPropiedad{
                        display: flex;
                        flex-direction: column;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                       
                    }
                    .alinear{
                        text-align: left;
                    }
                    .alineado{
                        text-align: right;
                        p{
                            margin: 2%;
                        }
                        .color{
                            color:rgb(48,162,185);
                        }
                    }
                    
                    
                }
            }
            
        }
        
    }

    @media (max-width: 769px ){
        .portafolio-container{
            .discover{
                display: flex;
                flex-direction: column;
                align-items: center;
                .filters{
                    width: 70%;
                   margin-top: 5%;
                }
                .properties{
                    margin: 5% 0;
                    width: 100%;
                }
            }
        }
        
     }
     
     
     
     @media (max-width: 391px){
        .portafolio-container{
            .discover{
                display: flex;
                flex-direction: column;
                align-items: center;
                .filters{
                    width: 80%;
                   margin-top: 5%;
                }
                .properties{
                    margin: 5% 0;
                    width: 95%;
                }
            }
        }
     }
    

