// *{
//     border: 1px solid tomato;
// }
.portafolio-container{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    height: 100%;
    text-align: center;
    padding: 7% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .discover {
        width: 100%;
        padding: 120px 0;
        display: flex;
        .filters{
            width: 35%;
            text-align: left;
            margin: 0;
            h5{
                margin-top: 7%;
                text-decoration: underline rgb(48,162,185);
                text-underline-offset: 5px;
            }
            .filterImg{
                width: 30px;
                height: 30px;
            }
            .clearButton{
            width: 100%;
            height: 4vh;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.897);
                   
        }
        .clearButton:hover{
            border: 1px solid rgb(48,162,185);
            color: rgb(48,162,185);
        }
        .buttons{
            width: 100%;
            height: 5vh;
            margin: 0;
            margin-top: 3%;
            justify-content: left;
            .metro{
               
                padding: 0;
                button{
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    margin: auto;
                    border-radius: 15px;
                    background-color: transparent;
                    border: 1px solid gray;
                    color: white;
                }
                button:hover{
                    background-color: white;
                    color: rgb(39,40,57);
                }
            }
           

        }
        .featuresButton{
            margin-top: 8vh;
            width: 70%;
            height: 6vh;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.897);
        }
        .featuresButton:hover{
            border: 1px solid rgb(48,162,185);
            background-color: rgb(48,162,185);
            color: white;
            font-size: larger;
        }
        .checkbox-container{
            width: 50%;
        }
        }
        .properties{
            display: flex;
            width: 70%;
            margin: 0;
            .card{
                display: flex;
                justify-content:center !important;
                background-color: transparent;
                border: none;
                padding: 5% 0;
                .cardProperty{
                    background-color: #272839;
                    width: 90% !important;
                    height: 60%;
                    border-radius: 15px;
                    margin: auto;
                    .styleCard{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        img{
                            width: 100%;
                           height:80%;
                            border-radius: 15px;
                            object-fit: cover;
                            object-position: center;
                           
    
                        }
                        .parteTransparente{
                            width: 50%;
                            height: 80%;
                            background-color: #27283989;
                            position: absolute;
                            .perTrans{
                                width: 25%;
                                background-color: green;
                                border-radius: 10px;
                                margin: 5%;
                            }
                            .estrella{
                                width: 15%;
                                height: 15%;
                                background-color: rgb(48,162,185);
                                border-radius: 10px;
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                    
                                }
                            }         
                        }
                           
                    }
                    
                    
                }
            }
            
        }
        
    }
    

}