.fondo{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    width: 100%;
    height: 220vh; 
    .alturaCont4{
        margin-left: 2vw;
        span{
           background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 10px;
        font-size: 20px;
        
        }
    } 
    h2{
        padding-top: 150px;
    }
    span{
        text-align: center;
    }
    .content_img {
        position: relative;
        width: 22vw;
        height: 17vw;
        /* background-color: #1f1f1f; */
        border: 1px solid white;
        display: flex; 
        margin: 50px 0px 0px 30px;
        padding: 0px;
        z-index: 1!important;
        border-radius: 15px;
        img {
            border-radius: 15px;
        }
        
    }
    .colImage{
        padding: 0px;
        margin: 0px;
    }
    .options {
        position:absolute;
        top: 85%;
        left: 79%;
        width: 1vw;
        color: white;
        margin-bottom: 2rem;
        padding-right: 5%;
    }
    .options .main:hover, .options .delete:hover {
        cursor: pointer;
    }
    .img-responsive {
        width: 100%;
        object-fit: cover;
        object-position: center;

    } 
    .addPropertyImage{
        padding-top: 150px;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: rgba(3, 255, 247, 1);
    }
    .centro{
        margin-left: 1vw;
    }
   
}



//RESPONSIVE
@media (max-width: 1400px ){
    .fondo{
        height:250vh;
        .content_img {
            width: 30vw;
            height: 22vw;
    }
}
}

//TABLET
@media (max-width: 769PX ){
    .fondo{
        .alturaCont4{
            margin-left: 3vw;
            margin-top: 30px;
            span{
            font-size: 15px;
            
            }
        } 
        .content_img {
            width: 40vw;
            height: 35vw;
    }
}
}

@media (max-width: 576px ){
    .fondo{
        .alturaCont4{
            margin-left: 12vw;
            margin-top: 30px;
            span{
            font-size: 15px;
            
            }
        } 
        .content_img{
           width: 70vw;
           height: 70vw;
           margin-left: 15vw;
        }
    }
}


//Movil
@media (max-width: 391PX ){
    .fondo{
        height: 100%;  
       button{
        margin-bottom: 30px;
        
       }
    }
}