.PadreAdd4{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    width: 100%;
    height: 120vh;
    .alturaCont4{
        margin-left: 15vw;
        span{
           background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px 35px;
        border-radius: 10px;
        font-size: 20px;
        
        }
    }
    .displayBro{
        display: flex;
        align-items: center!important;
        justify-content: center!important;
    }
    h4{
        text-align: center;
        font-size:30px;
        font-weight: bold;
        padding: 40px 50px 0px;
    } 
    button{
          
        
        width:400px;
        background-color: white;
        font-weight: bold;
        margin-top: 50px;
        padding: 10px 10px;
    }
    .TituloAdd4{
        h2{
            padding-top: 150px;
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 50px;
            text-align: center;
            color: rgba(3, 255, 247, 1);
        }
    }
    .divAdd4{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 969px ){
    .PadreAdd4{
        height: 100%;
       .alturaCont4{
        margin-left: 22vw;
       }
    }
}
@media (max-width: 780px ){
    .PadreAdd4{
        height: 100%;
        button{
            margin-bottom: 30px;
        }
    }
}


//TABLET
@media (max-width: 769px ){
    .PadreAdd4{
        height: 100vh;
    }
}

@media (max-width: 592px ){
    .PadreAdd4{
       height: 100%;
       .alturaCont4{
        margin-left: 17vw;
       }
    }
}


//Movil
@media (max-width: 391px ){
    .PadreAdd4{
        height: 100%;
        .alturaCont4{
            margin-left: 12vw;
            margin-top: 20px;
            span{
                font-size: 15px;
                margin-top: 20px;
            }
           }
        h4{
            padding-top: 20px;
            font-size:30px;
        } 
        button{
            width: 250px;
           
        }
        .TituloAdd4{
            h2{
                padding-top: 150px;
                padding-bottom: 0px;
                font-size: 40px;
            }
        }
    }
    
}