.padreeAdd3{
    font-family: Barlow;
    background-color: #272839;
    color: white;
    width: 100%;
    height: 130vh; 
    .alturaCont3{
        padding: 10px 10vw 0px;
        span{
            background-color: white;
            color: black;
            font-weight: bold;
            padding: 10px 35px;
            border-radius: 10px;
            font-size: 20px;
       
        }
    }
    h2{
        padding-top: 150px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: rgba(3, 255, 247, 1);
    }
    h3{
        font-size:35px;
        font-weight: bold;
        padding: 20px 10vw 0px;
    }
    .priColAdd3{
        padding: 20px 10vw;
        ::placeholder{
            color:white;
        }
        p{
            font-size: 20px;
        }
        input, select{
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 20px;
            color: white;
            background-color:#272839 ;
            width:26vw;
            border: 1px solid white;
            padding: 10px 10px;
        }
        ::placeholder{
            color: white;
        }
        :focus{
            outline: 1px solid #4cecf5;
            border: 1px solid #4cecf5;
        }
        .displayAdd3{
            display: flex;
            .numeroAdd3{
                width:8vw!important; 
                margin-right: 50px;
            }
            .provinciaAdd3{
                width:15vw!important;
            }
        }
    }
    .segColAdd3{
        display: flex;
        flex-wrap: wrap;
        ::placeholder{
            color: white;
        }
        .puertaaAdd3{
            margin-bottom: 10vw!important;
        }
        input{
            border-radius: 5px;
            font-size: 20px;
            color: white;
            background-color:#272839 ;
            width:10vw;
            margin-top: 60px;
            margin-bottom: 0px!important;
            margin-right: 3vw;
            border: 1px solid white;
            padding: 10px 20px;
        }
        ::placeholder{
            color: white;
        }
        :focus{
            outline: 1px solid #4cecf5;
            border: 1px solid #4cecf5;
        }
        
    }
    button{
        font-weight:bold ;
        font-size: 20px;
        text-align: center;
        width: 30vw;
        border-radius: 11px;
        padding: 15px;
        margin-left: 52vw;
        position: relative;
        top: -150px;
    }
}

//Responsive
@media (max-width: 980px ){
    .padreeAdd3{

        height: 100%; 
        .alturaCont3{
            padding: 30px 25vw 0px;
            
        }
        h3{
            font-size:35px;
            font-weight: bold;
            padding: 20px 25vw 0px;
        }
        .rowAdd3{
            
            margin: 0px!important;
            padding: 0px!important;
        .priColAdd3{
            padding: 20px 25vw;
            input, select{
                width:50vw;
            }
            .displayAdd3{
                .numeroAdd3{
                    width:15vw!important; 
                    margin-right: 50px;
                }
                .provinciaAdd3{
                    width:30vw!important;
                }
            }
        }
    }
        .segColAdd3{
            display: flex;
            justify-content: center;
            input{
                margin: 30px 25px 100px 25px;
                padding: 10px 10px;
                width: 10vw;       
            }    
        }
        button{
            width:50vw;

            padding: 15px;
            margin-top: 100px;
            position: relative;
            top: -150px;
            margin-left: 25vw;
        }
    }
}


//Tablet
@media (max-width: 770px ){
    .padreeAdd3{
        height: 100%; 
        
        .alturaCont3{
            padding: 30px 21vw 0px;       
        }
        h3{
            font-size:35px;
            font-weight: bold;
            padding: 20px 21vw 0px;
        }
        .rowAdd3{
        .priColAdd3{
            padding: 20px 20vw;
            input, select{
                width:60vw;
            }
            .displayAdd3{
                .numeroAdd3{
                    width:15vw!important; 
                    margin-right: 50px;
                }
                .provinciaAdd3{
                    width:40vw!important;
                }
            }
        }
    }
        .segColAdd3{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            input{
                font-size: 20px;
                margin-left: 50px;
                margin-top: 30px;
                
                width: 60vw;       
            }    
        }
        button{
            width:50vw;
            padding: 15px;
            margin-top:23vw;
            position: relative;
            top: -120px;
            margin-left: 25vw;
        }
    }
}

//Movil
@media (max-width: 391px ){
    .padreeAdd3{  
    width: 100%;
    .alturaCont3{
        padding: 20px 10vw 0px;
        span{
            font-size: 15px;
                    width: 100px!important;
                    padding: 10px 30px!important;
        }
        
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size:25px;
        padding: 20px 10vw 0px;
    }
    .rowAdd3{
    .priColAdd3{
        padding: 20px 7vw;
        ::placeholder{
            color:white;
        }
        p{
            font-size: 20px;
        }
        input, select{
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 20px;
            color: white;
            background-color:#272839 ;
            width:80vw;
            border: 1px solid white;
            padding: 10px 10px;
        }
        .displayAdd3{
            display: flex;
            .numeroAdd3{
                width:20vw!important; 
                margin-right: 50px;
            }
            .provinciaAdd3{
                width:45vw!important;
            }
        }
    }
}
    .segColAdd3{
        display: flex;
        flex-wrap: none;
        flex-direction: column;
        margin: 0px;
        margin-left: 10px;
        ::placeholder{
            color: white;
        }
        .puertaaAdd3{
            margin-bottom: 10vw!important;
        }
        input{
          font-size: 20px;
          width:80vw;
          margin-left: 2vw;
          margin-top: 20px;
         
        }
        
    }
    button{
        margin: 0px 40px 30px 30px;
        width:80vw;
        top: -20px;
    }
}
}